.searchbar_wrapper{
	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dadada;
    max-width: 550px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 3px;
}

.searchbar_wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
  /*  border-radius: 5px; */
    font-weight: bold;
    font-size: 24px;
}

.searchbar_wrapper button {
  float: left;
  width: 20%;
  padding: 15px ;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
/*  border-radius: 2px; */

  cursor: pointer;
}

.searchbar_wrapper button:hover {
  background: #0b7dda;
}

div.main_block_wrapper {
  display: block;
  width: 100%;
  height: 610px;
/* background: black; */
}

div.box1 {
  position: absolute;
  top: 30%;
  left: 21%;
  display: block;
  width: 440px;
  height: 330px;
  padding: 3px;
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,0.4);
}

div.box1_icon {
  position: relative;
  bottom: 20px;
  left: 280px;
  width: 128px;
  height: 128px;
  border: 1px solid black;
}

h1.box1_city_display {
  position: relative;
  top: 13px;
  left: 20px;
  font-size: 30px;
}

h2.box1_temp_display {
  position: relative;
  font-size: 86px;
  bottom: 166px;
  left: 34px;

}

image.box1_icon {
  width: 128px;
  height: 128px;
}

div.box2 {
  position: absolute;
  top: 30%;
  right: 21%;
  display: block;
  width: 552px;
  height: 190px;
  padding: 3px;
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,0.4);
}
ul.box2_week_list {
  display: inline-block;


}
ul.box2_week_list li.box2_day {
  display: inline-block;
  margin: 2px;
  width: 60px;
  height: 92px;
  background-color: #e5e5e5;
  list-style-type: none;
  border-radius: 2px;
}

div.box3 {
  position: absolute;
  right: 21%;
  top: 55%;
  display: block;
  width: 552px;
  height: 175px;
  padding: 3px;
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,0.4);
}

ul.box3_info_list li.box3_infobox {
  display: inline-block;
  margin: 2px;
  width: 90px;
  height: 142px;
  background-color: #e5e5e5;
  list-style-type: none;
  border-radius: 2px;
}
