{{include header.html}}


<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="box">
                <h3>Today's Weather</h3>

                <div class="row">
                    <div class="col-2">
                        <div id="sunset-progress" class="radial-progress" data-progress="0"></div>
                        <div class="sunset-progress">

                            <div class="sunrise-time-container">
                                <p class="text-muted">Sunrise</p>
                                <span class="sunrise-time"></span>

                            </div>
                            <div class="sunset-time-container text-end">
                                <p class="text-muted">Sunset</p>
                                <span class="sunset-time"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-2">
                        <ul class="daily-weather">
                            <li>Feels Like <span class="feel-temp"></span></li>
                            <li>High <span class="high-temp"></span></li>
                            <li>Low <span class="low-temp"></span></li>
                            <li>Wind <span class="wind"></span></li>
                            <li>Humidity <span class="humidity"></span></li>
                            <li>Pressure <span class="pressure"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="box">
                <h3>5 Day Forecast</h3>
                <div class="forecastWrapper">
                    <div class="day">
                        <div id="day1icon"></div>
                        <div id="day1temp"></div>
                        <p>Day 1</p>
                    </div>
                    <div class="box2_daybox">
                        <div id="day2icon"></div>
                        <div id="day2temp"></div>
                        <p>Day 2</p>
                    </div>
                    <div class="box2_daybox">
                        <div id="day3icon"></div>
                        <div id="day3temp"></div>
                        <p>Day 3</p>
                    </div>
                    <div class="box2_daybox">
                        <div id="day4icon"></div>
                        <div id="day4temp"></div>
                        <p>Day 4</p>
                    </div>
                    <div class="box2_daybox">
                        <div id="day5icon"></div>
                        <div id="day5temp"></div>
                        <p>Day 5</p>
                    </div>
                </div>
            </div>
            <!--
            <div class="box">
                <h3>Daily Weather Details</h3>
                <div class="forecastWrapper">
                    <div class="box3_infobox">
                        <i class="bi bi-wind"></i>
                        <div class="wind"></div>
                        <p>Wind</p>
                    </div>
                    <div class="box3_infobox">
                        <i class="bi bi-moisture"></i>
                        <div id="humidity"></div>
                        <p>Humidity</p>
                    </div>
                    <div class="box3_infobox">
                        <i class="bi bi-arrows-collapse"></i>
                        <div id="pressure"></div>
                        <p>Pressure</p>
                    </div>
                    <div class="box3_infobox">
                        <i class="bi bi-sunset"></i>
                        <div id="sunset"></div>
                        <p>Sunset</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>


    <div id="hourly-forecast">
        <h2 class="text-lg">3 Hour Forecast</h2>
    </div>

</div>

{{include footer.html}}
