{{include header.html}}

    <div class="container">
      <div class="row">
        <div class="col-2">
        <div id="box1">
            <div class="col1">
                <div id="city" class="text-lg"></div>
                <div id="temp" class="text-xlg"></div>
            </div>
            <div class="col2">
                <i id="rainyIcon" class="bi bi-cloud-rain-fill"></i>
                <i id="sunnyIcon" class="bi bi-brightness-high-fill"></i>
                <i id="cloudyIcon" class="bi bi-cloud-sun-fill"></i>
                <i id="snowyIcon" class="bi bi-cloud-snow-fill"></i>
            </div>
        </div>
        </div>
    <div class="col-2">
      <div class="row">
        <div id="box2">
          <div class="col-1">
                <h3>5 Day Forecast</h3>
                <div class="forecastWrapper">
                    <div class="day">
                        <i id="rainyIcon" class="bi bi-cloud-rain-fill" style="display: block;"></i>
                        <div id="day1temp"></div>
                        <p>Day 1</p>
                    </div>
                    <div class="box2_daybox">
                        <i id="rainyIcon" class="bi bi-cloud-rain-fill" style="display: block;"></i>
                        <div id="day2temp"></div>
                        <p>Day 2</p>
                    </div>
                    <div class="box2_daybox">
                        <i id="rainyIcon" class="bi bi-cloud-rain-fill" style="display: block;"></i>
                        <div id="day3temp"></div>
                        <p>Day 3</p>
                    </div>
                    <div class="box2_daybox">
                        <i id="rainyIcon" class="bi bi-cloud-rain-fill" style="display: block;"></i>
                        <div id="day4temp"></div>
                        <p>Day 4</p>
                    </div>
                    <div class="box2_daybox">
                        <i id="rainyIcon" class="bi bi-cloud-rain-fill" style="display: block;"></i>
                        <div id="day5temp"></div>
                        <p>Day 5</p>
                    </div>
                </div>
              </div>
              </div>
            </div>
      <div class="row">
        <div id="box3">
            <div class="col-1">
                <h3>Daily Weather Details</h3>
                <div class="forecastWrapper">
                    <div class="box3_infobox">
                        <i class="bi bi-wind"></i>
                        <div id="wind"></div>
                        <p>Wind</p>
                    </div>
                    <div class="box3_infobox">
                        <i class="bi bi-moisture"></i>
                        <div id="humidity"></div>
                        <p>Humidity</p>
                    </div>
                    <div class="box3_infobox">
                        <i class="bi bi-arrows-collapse"></i>
                        <div id="pressure"></div>
                        <p>Pressure</p>
                    </div>
                    <div class="box3_infobox">
                        <i class="bi bi-sunset"></i>
                        <div id="sunset"></div>
                        <p>Sunset</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

{{include footer.html}}
