:root {
    /* Material Design Colors */
    --blue-600: #1E88E5;
    --yellow-600: #FDD835;
    --red-600: #E53935;
    --grey-300: #E0E0E0;
    --grey-400: #BDBDBD;
    --grey-500: #9E9E9E;
    --grey-800: #424242;
    --grey-900: #212121;

    --light: #EEEEEE;
    --light-alt: #F5F5F5;
    --dark-alt: #121212;
    --dark: #000;
    --primary: var(--blue-600);
    --secondary: var(--yellow-600);
    --red: var(--red-600);

    --border-radius: 5px;
    --box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.05);
}

* {
    box-sizing: border-box;
}

.dark {
    --text-color: var(--light);
    --background: var(--dark);
    --background-alt: var(--dark-alt);
    --background-accent: var(--grey-800);
}

.light {
    --text-color: var(--dark);
    --background: var(--light);
    --background-alt: var(--light-alt);
    --background-accent: var(--grey-300);
}


body {
    margin: 0;
    color: var(--text-color);
    background: var(--background);
}

/* Buttons */
button[type=submit] {
    cursor: pointer;
}

/* Utility */
.hover {
    cursor: pointer;
}

/* Inputs */
input:focus, textarea:focus, select:focus {
    outline: 1px solid var(--primary);
}

/* Misc */

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    min-height: 200px;
    align-content: center;
}

#inner_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-content: center;
    width: 25%;
}

.forecastWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 50%;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunset-progress div {
    width: 50%;
    float: left;
}

.sunset-progress div p {
    text-transform: uppercase;
    font-size: 0.75rem;
}

.daily-weather {
    list-style-type: none;
    padding: 0;
}

.daily-weather li {
    padding: 0.25rem;
    border-bottom: 1px solid var(--background-accent);
}

.daily-weather li span {
    display: inline-block;
    float: right;
}